# dawg WHY are you reading this

# node/astro
node_modules/
package-lock.json
.astro/

# build
/dist/

# env
.env

# vsc
.vscode/

# logs
*.log

# remove traces of schizoid
cooked.astro

# fuckin MAC USER
.DS_Store