---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="about">
    <section>
        <h1 class="sm:text-6xl text-5xl font-bold tracking-tight text-left mb-12">
			about*
		</h1>
        <p class="mb-12">
            You clicked the lil link at the bottom, gg
            <br><br>
            
            To see the brains of this website, it's on the hub @ <a href="https://github.com/reckedpr/rkpr.dev" class="text-blue-400">reckedpr/rkpr.dev</a>
        </p>

        <a href="/" class="text-blue-400">Take me home, </a>
        <a href="/country-roads.jpg">country roads?</a>
    </section>
</MainLayout>