---
import MainLayout from "../layouts/MainLayout.astro"
---

<MainLayout title="RECKEDPR">
	<div class="">
		<img src="/dragon.jpg" alt="" class="md:w-md w-sm cursor-spin-disk">
		<h1 class="sm:text-6xl text-5xl font-bold tracking-tight text-left mb-12">
			reckedpr
		</h1>
		<ul class="font-serif font-semibold italic text-3xl cursor-link sm:visible invisible [&>li]:hover:bg-slate-600/80">
			<li class="">twitter</li>
			<li class="">discord</li>
			<li class="">extra</li>
		</ul>
	</div>
	<!-- <p class="text-ctp-overlay0 font-mono">made with &lt;3 by reckedpr</p> -->
	<p class="absolute bottom-4 left-0 w-full text-center text-gray-500 text-sm uppercase tracking-tight cursor-help">
		&#47&#47 RECKEDPR 2025
	</p>
</MainLayout>
