---
import MainLayout from "../layouts/MainLayout.astro"
---

<MainLayout title="RECKEDPR">
	<div class="">
		<img src="/dragon.jpg" alt="" class="md:w-md w-2xs cursor-spin-disk">
		<h1 class="sm:text-6xl text-4xl font-bold tracking-tight text-left mb-12">
			reckedpr
		</h1>
		<div class="flex flex-col font-serif font-semibold italic sm:text-3xl text-2xl cursor-link visible [&>a]:hover:bg-slate-600/80">
			<a href="https://x.com/reckedpr">twitter</a>
			<a href="https://discord.com/users/687744059158298649">discord</a>
			<a href="#">extra</a>
		</div>
	</div>
	<a href="about/" class="absolute bottom-4 left-0 w-full text-center text-gray-500 text-sm uppercase tracking-tight cursor-help">
		&#47&#47 RECKEDPR 2025
	<a/>
</MainLayout>
